<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if site.title %}{{ site.title | escape }}{% endif %}{% if page.title %} – {{ page.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="assets/style-20.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
</head>
<body>

  <header>
    <aside>
      <h1>Uncertainty Visualization 2024</h1>
    </aside>
    <article>
      <h2>
        <b><span>IEEE Workshop on</span>
        <span>Uncertainty Visualization: Applications, Techniques, Software, and Decision Frameworks</span></b><br />
        <span>in conjunction with IEEE VIS 2024,</span>
        <span>Florida, USA</span>
      </h2>
      <img id="ieee-logo" src="assets/logo-ieee.png" />
    </article>
  </header>

  <main>
    <aside>
      <nav>
        <h1>Menu</h1>
        <ul>
          {% for link in site.navigation %} 
          {% assign current = nil %} 
          {% if page.url contains link.url %} {% assign current = 'current'%} {% endif %}
          <li class="{{ current }}">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endfor %}
          <li>
            <a href="mailto:uncertaintyvis-chairs@googlegroups.com">Contact</a>
          </li>
        </ul>
      </nav>
      <hr />
      {% capture my_include %}{% include dates.md %}{% endcapture %}
      {{ my_include | markdownify }}
      <hr />
      <nav id="archive">
        <h1>Uncertainty Visualization Archive</h1>
        <ul>
	 <li><a href="https://ieeevis.org/year/2015/info/overview-amp-topics/workshops" target="_blank">2015</a></li>
	  <li><a href="https://www.sci.utah.edu/uncertainty11.html" target="_blank">2011</a></li>
        </ul>
      </nav>
    </aside>
    <article>
      {{ content }}
    </article>
  </main>

  <footer>
    <aside>
      Last update: Mar 27th, 2024
<!--       {{ page.last_modified_at | date: '%b %e, %Y' }} -->
    </aside>
    <article>
      <p>
        © Uncertainty Visualization at IEEE VIS 2024
      </p>
    </article>
  </footer>

</body>

</html>
